.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid aqua;
  height: 85vh;
  /* width: auto; */
}

.article-info {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  /* justify-content: space-evenly; */
  border: 2px solid pink;
  /* height: 30vh; */
}

.details-img {
  border-radius: 5px;
  /* height: 50%; */
  height: 50vh;
  width: 42%;
}

.back-btn {
  font-size: 1.2em;
  background-color: #FAAA8D;
  padding: 3px;
}

.back-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.details-byline {
  font-size: 1.1em;
}

.details-abstract {
  font-size: 1.15em;
  font-style: italic;
}

.details-title, .details-byline, .details-abstract {
  margin-bottom: .5em;
}